* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "UTM Davida";
    font-weight: 400;
    src: url(../font/00074-UTM-Davida.ttf) format('truetype'),
        url(../font/00074-UTM-Davida.ttf) format('opentype');
}

@font-face {
    font-family: "SVN aptima";
    font-weight: 400;
    src: url(../font/SVN-Aptima.ttf) format('truetype'),
        url(../font/SVN-Aptima.ttf) format('opentype');
}

.title01 {
    font-family: "UTM Davida";
    font-size: 2rem;
    color: #F4D58D;
}

a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
}

a:hover {
    color: #708D81;
}

a:active {
    color: #708D81;
}

.topnar {
    position: relative;
}

.navbar {
    background-color: #001427;
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    position: fixed;
    padding-top: 2.5rem;
    column-gap: 2rem;
    top: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
    z-index: 3;
    width: 100%;
}

.navbar-logo {
    width: 100%;
    object-fit: cover;
}

.navbar-menu {
    padding-top: 1rem;
}

.navbar-menu li {
    display: inline-block;
    list-style: none
}

.navbar-menu a {
    text-decoration: none;
    color: #F4D58D;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.navbar-cart {
    display: flex;
    flex-direction: row;
}

.navbar-cart i {
    padding: 0 1rem;
    font-size: 2rem;
    color: #F4D58D;
}

.sidebar-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #001427;
}

.sidebar .menu {
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    background-color: #001427;
    transition: 0.5s;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    z-index: 98;
}

.menu .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
}

.menu .logo p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.sidebar .logo a {
    padding: 15px 25px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    /*margin-left: 5px*/
}

.sidebar .logo a img {
    max-width: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar ul {
    color: #fff;
    padding-left: 4rem;
}

.sidebar ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    /*text-align: center;*/
    list-style: none;
}

.sidebar ul li:hover {
    padding-left: 35px;
    background-color: #445665;
}

.sidebar ul li a {
    display: block;
    color: #F4D58D;
    font-weight: bold;
    font-size: 2rem;
}

.sidebar #open {
    display: none;
}

.sidebar label {
    display: block;
}

.sidebar .open i {
    display: none;
    font-size: 25px;
    cursor: pointer;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #F4D58D;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    left: 1.5rem;
}

#open:checked~.menu {
    transition: 0.5s;
    transform: translateX(0);
}

#open:checked~.open i {
    transition: 0.5s;
    position: fixed;
    top: 0;
}

.container-lage {
    display: grid;
    height: max-content;
    background-color: #001427;
    padding-top: 10.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6.5rem;
}

.carousel-item .card {
    flex-direction: row;
    align-items: center;
    background-color: #001427;
    border: 0;
    padding-left: 12.5rem;
}

.carousel-item .card .text {
    padding-right: 15rem;
}

.text .title02 {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #fff;
}

.text .buttons-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1.5rem;
    align-items: flex-end;
}

.small-button .btn-outline-primary {
    margin-top: 1rem;
    color: #F4D58D;
    border-color: #F4D58D;
    border-width: 3px;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 0.375rem 2rem;
}

.btn-outline-primary:hover {
    background-color: #001427;
}

.carousel-indicators {
    top: 26rem;
}

.carousel-indicators [data-bs-target] {
    background-color: #F4D58D;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}

.carousel-control-next-icon {
    background-image: url(../image/icon.svg);
}

.carousel-control-prev-icon {
    background-image: url(../image/icon\ \(2\).svg);
}

.content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 6rem;
    background-color: #6D0500;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
}

.content .text {
    text-align: right;
}

.content .buttons-group {
    justify-content: flex-end;
}

.content-img {
    height: 100%;
    object-fit: cover;
}

.content-img img {
    width: 31rem;
    height: 100%;
    object-fit: cover;
}

.content02 {
    padding-right: 6rem;
    background-color: #708D81;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
}

.content02 .text {
    text-align: left;
}

.content03 {
    background-color: #001427;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.content03 .carousel-control-prev {
    justify-content: flex-start
}

.content03 .carousel-control-next {
    justify-content: flex-end
}

.content03 .carousel-indicators {
    top: 17rem;
}

.content03 .carousel {
    margin-top: 4rem;
}

.content03 .carousel-inner {
    padding-left: 10rem;
}

.footer {
    background-color: #1C2A3D;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.footer-menu {
    padding-top: 2rem;
}

.footer-menu li {
    display: inline-block;
    list-style: none
}

.footer-menu a {
    text-decoration: none;
    color: #F4D58D;
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.footer-icon img {
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-content {
    width: 28rem;
    margin-top: 2rem;
}

.footer-content .title02 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.showall01 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #6D0500;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
    padding-right: 6rem;
}

.showall01 .text {
    text-align: left;
}

.showall02 {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #6D0500;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
    padding-left: 6rem;
}

.hidden {
    position: absolute;
    bottom: 2rem;
    background-color: #6D0500;
    border: 0;
    bottom: 0;
}

.swiper {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    background-color: #001427;
    border: 0;
}

.swiper .title01 {
    text-align: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    /* Center slide text vertically */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-right: 6rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --swiper-navigation-size: 2.5rem;
    --swiper-theme-color: #F4D58D;
}