* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "UTM Davida";
    font-weight: 400;
    src: url(../font/00074-UTM-Davida.ttf) format('truetype'),
        url(../font/00074-UTM-Davida.ttf) format('opentype');
}

@font-face {
    font-family: "SVN aptima";
    font-weight: 400;
    src: url(../font/SVN-Aptima.ttf) format('truetype'),
        url(../font/SVN-Aptima.ttf) format('opentype');
}

.title01 {
    font-family: "UTM Davida";
    font-size: 2.5rem;
    color: #F4D58D;
}

a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
}

a:hover {
    color: #708D81;
}

a:active {
    color: #708D81;
}

.navbar {
    background-color: #001427;
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    position: fixed;
    padding-top: 2.5rem;
    column-gap: 2rem;
    top: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
    z-index: 3;
    width: 100%;
}

.navbar-logo {
    width: 100%;
    object-fit: cover;
}

.navbar-menu {
    padding-top: 1rem;
}

.navbar-menu li {
    display: inline-block;
    list-style: none
}

.navbar-menu a {
    text-decoration: none;
    color: #F4D58D;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.navbar-cart {
    display: flex;
    flex-direction: row;
}

.navbar-cart i {
    padding: 0 1rem;
    font-size: 2rem;
    color: #F4D58D;
}

.sidebar-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #001427;
}

.sidebar .menu {
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    background-color: #001427;
    transition: 0.5s;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    z-index: 98;
}

.menu .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
}

.menu .logo p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.sidebar .logo a {
    padding: 15px 25px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    /*margin-left: 5px*/
}

.sidebar .logo a img {
    max-width: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar ul {
    color: #fff;
    padding-left: 4rem;
}

.sidebar ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    /*text-align: center;*/
    list-style: none;
}

.sidebar ul li:hover {
    padding-left: 35px;
    background-color: #445665;
}

.sidebar ul li a {
    display: block;
    color: #F4D58D;
    font-weight: bold;
    font-size: 2rem;
}
.sidebar #open {
    display: none;
}
.sidebar label {
    display: block;
}
.sidebar .open i {
    display: none;
    font-size: 25px;
    cursor: pointer;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #F4D58D;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    left: 1.5rem;
}



#open:checked~.menu {
    transition: 0.5s;
    transform: translateX(0);
}

#open:checked~.open i {
    transition: 0.5s;
    position: fixed;
    top: 0;
}

.container-lage {
    display: grid;
    height: max-content;
    background-color: #001427;
    padding-top: 10.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6.5rem;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20rem;
}
.header-left h2 {
    font-family: "UTM Davida";
    font-size: 2.5rem;
    color: #F4D58D;
}
.header-left .body01 {
    color: #fff;
}
.header-right {
    position: relative;
}
.header-right h1 {
    font-family: "UTM Davida";
    color: rgba(255, 255, 255, 1);
    font-size: 5.5rem;
    opacity: 0.1;
}
.elipse {
    position: absolute;
    top: -1rem;
    right: 7rem;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    background-color: rgba(124, 8, 2, 1)
}
.header-ritgh-img {
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    margin-top: 4rem;
}
.content h2 {
    font-family: "UTM Davida";
    font-size: 2.5rem;
    color: #F4D58D;
    text-align: center;
}
.member-list {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    align-items: center;
}
.member-list p {
    font-family: "UTM Davida";
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
.member-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mid {
    margin-top: 1rem;
}
.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.5rem
}
.icon i {
    font-size: 3rem;
    color: rgba(244, 213, 141, 1);
    opacity: 0.6;
}
.footer {
    background-color: #1C2A3D;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
.footer-menu {
    padding-top: 2rem;
}

.footer-menu li {
    display: inline-block;
    list-style: none
}

.footer-menu a {
    text-decoration: none;
    color: #F4D58D;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}
.footer-icon img {
    margin-left: 1rem;
    margin-right: 1rem;
}
.footer-content {
    width: 24rem;
    margin-top: 2rem;
}
.footer-content .title02{
    font-size: 0.8125rem;
    font-weight: 500;
    color: #fff;
    text-align: center; 
}