* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "UTM Davida";
    font-weight: 400;
    src: url(../font/00074-UTM-Davida.ttf) format('truetype'),
        url(../font/00074-UTM-Davida.ttf) format('opentype');
}

@font-face {
    font-family: "SVN aptima";
    font-weight: 400;
    src: url(../font/SVN-Aptima.ttf) format('truetype'),
        url(../font/SVN-Aptima.ttf) format('opentype');
}
a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
}

a:hover {
    color: #708D81;
}

a:active {
    color: #708D81;
}

.navbar {
    background-color: #001427;
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    position: relative;
    padding-top: 2.5rem;
    column-gap: 2rem;
    top: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
}

.navbar-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.navbar-menu {
    padding-top: 1rem;
}

.navbar-menu li {
    display: inline-block;
    list-style: none
}

.navbar-menu a {
    text-decoration: none;
    color: #F4D58D;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.navbar-cart {
    display: flex;
    flex-direction: row;
}

.navbar-cart i {
    padding: 0 1rem;
    font-size: 2rem;
    color: #F4D58D;
}
.container-lage {
    height: max-content;
    position: relative;
    background-color: #001427;
    padding-top: 3.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6.5rem;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 6rem;
    padding-right: 2rem
}
.list-img {
    display: flex;
    flex-direction: row;
}
.header-right .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}
.header-right .details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.details .body01 {
    color: #fff;
    font-size:1.5rem;
    font-weight: 700;
}
.body02 {
    color: #fff;
    font-size:1.5rem;
    font-weight: 200;
    text-align:left;
}
.price {
    padding-top: 1rem;
    border-top: 1px solid #F4D58D;
    border-bottom: 1px solid #F4D58D;
}
.buy {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
}
.quantity {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.button-quantity {
    background-color: #F4D58D;
    padding: 0.25rem;
    width: 28px;
    height: 28px;
    padding: 0;
}
.quantity input {
    width: 38px;
    height: 38px;
    border: 1px solid #F4D58D;
    background-color: #001427;
    color: #FFFFFF;
    margin: 0 0.5rem;
}
.icon-group {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.evaluate {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
}
.evaluate i {
    font-size: 1.5rem;
    color: #F4D58D;
    padding: 0 0.2rem;
}
.description {
    margin-top: 2rem;
    padding-left: 4rem;
}
.title01 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}
.description .content-description {
    background-color: rgba(109, 5, 0, 1);
    padding: 1rem 3rem;
}
.info {
    padding-left: 4rem;
}
.table {
    width: 50%;
}
.table th {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 2rem;
}
.table td {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 2rem;
}
.carousel-item .card {
    flex-direction: row;
    align-items: center;
    background-color: #001427;
    border: 0;
    column-gap: 4rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
}

.text .title02 {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #fff;
}

.text .buttons-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1.5rem;
    align-items: flex-end;
}

.small-button .btn-outline-primary {
    margin-top: 1rem;
    color: #F4D58D;
    border-color: #F4D58D;
    border-width: 3px;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 0.375rem 2rem;
}

.btn-outline-primary:hover {
    background-color: #001427;
}

.carousel-indicators {
    top: 20rem;
}

.carousel-indicators [data-bs-target] {
    background-color: #F4D58D;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}

.carousel-control-next-icon {
    background-image: url(../image/icon.svg);
}

.carousel-control-prev-icon {
    background-image: url(../image/icon\ \(2\).svg);
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.price-menu {
    color: #F4D58D;
    font-size: 1.5rem;
}

.content {
    margin-top: 8rem;
    position: relative;
    padding-left: 4rem;
}
.content .title01 {
    color: #F4D58D;
    font-size: 2.5rem;
    font-weight: 700;
}
.footer {
    background-color: #1C2A3D;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
.footer-menu {
    padding-top: 2rem;
}

.footer-menu li {
    display: inline-block;
    list-style: none
}

.footer-menu a {
    text-decoration: none;
    color: #F4D58D;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}
.footer-icon img {
    margin-left: 1rem;
    margin-right: 1rem;
}
.footer-content {
    width: 24rem;
    margin-top: 2rem;
}
.footer-content .title02{
    font-size: 0.8125rem;
    font-weight: 500;
    color: #fff;
    text-align: center; 
}
.showall01 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color:#6D0500;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
    padding-right: 6rem;
}
.showall01 .text {
    text-align: left;
}
.showall02 {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color:#6D0500;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
    padding-left: 6rem;
}
.hidden {
    position: absolute;
    bottom: 2rem;
    background-color: #6D0500;
    border: 0;
}