* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

@font-face{
    font-family: "UTM Davida";
    font-weight: 400;
    src: url(../font/00074-UTM-Davida.ttf) format('truetype'),
    url(../font/00074-UTM-Davida.ttf) format('opentype');
}
@font-face{
    font-family: "SVN aptima";
    font-weight: 400;
    src: url(../font/SVN-Aptima.ttf) format('truetype'),
    url(../font/SVN-Aptima.ttf) format('opentype');
}
.body02 {
    font-size: 0.8125rem;
    color: #fff;
    font-weight: 400;
}
.container-fluid {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url(../image/geraldine-lewa-N_Z91Evs_oM-unsplash\ 1.png);
}
.navbar {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    position: fixed;
    padding-top: 2.5rem;
    column-gap: 2rem;
    top: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    align-items: center;
    z-index: 3;
}
.img-fluid {
    max-width: 100%;
    max-height: 100%;
    width: 46px;
}
.navbar-menu {
    padding-top: 1rem;
}
.navbar-menu li {
    display: inline-block;
    list-style: none
}
.navbar-menu a {
    text-decoration: none;
    color: #F4D58D;
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.6;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}
.navbar-cart {
    display: flex;
    flex-direction: row;
}
.navbar-cart i {
    padding: 0 1rem;
    font-size: 2rem;
    color: #F4D58D;
}

.name {
    text-align: center;
    width: 100%;
}
.name h1 {
    font-family: "UTM Davida";
    font-size: 6.75rem;
    color: #F4D58D;
}
.name .btn-outline-primary {
    font-family: "SVN Aptima";
    color: #F4D58D;
    border-color: #F4D58D;
    border-width: 3px;
    border-radius: 2rem;
    font-size: 3rem;
    padding: 0.375rem 2rem;
}
.name .btn-outline-primary:hover {
    color: #708D81;
    background-color: transparent;
}